
<%= form_for @post, :class=>'form', :html => {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class=>'form-control', :placeholder=>'Title of the post' %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, :class=>'form-control', :placeholder=> current_user.email, :disabled =>"true" %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, :class=>'form-control', :placeholder=>'Type your text'%>
  </div>
  <div class="form-group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, :class=>'form-control' %>
  </div>
  <br>
  <div class="actions" align="center">
    <%= f.submit :type=>'submit', :class=>'btn btn-default btn-lg' %>
  </div>
<% end %>
<br>
