<div>
  <h2><%= link_to post.title, post_path(post) %></h2>
 
  <strong>Date: </strong> <small><em><%= post.timestamp %></em></small>
    <br>
  <strong>Author: </strong> <small><em><%= post.author %></em></small>
    <br>
    <br>
  <p><img src="<%= post.avatar.url %>" /></p>
    <br>
  <p><%= truncate(strip_tags(post.body), length: 600) %></p>

  <p><strong>Number of comments:</strong> <%= post.comments.size %></p>
    <br>
      <%= social_share_button_tag(post.title) %>
    <br>
  Quality  : <%= rating_for post, "quality", :enable_half => true %>
  Originality : <%= rating_for post, "originality", :enable_half => true %>

  <hr/>
</div>